graft include
graft estnltk/vabamorf/dct
graft estnltk/converters
graft estnltk/rewriting/syntax_preprocessing/rules_files
graft estnltk/rewriting/postmorph/rules_files
graft estnltk/rewriting/premorph/rules_files
