# the list of package data used by "sdist"
include COPYRIGHT
include LICENSE
graft include
graft src
graft estnltk/java/res
graft estnltk/storage/postgres/tests/test_example_syntax.conll
graft estnltk/taggers/standard/ner/gazetteer
graft estnltk/taggers/standard/ner/models
graft estnltk/taggers/standard/morph_analysis/number_fixes
graft estnltk/taggers/standard/morph_analysis/reorderings
graft estnltk/taggers/standard/morph_analysis/ud_conv_rules
graft estnltk/taggers/standard/syntax/files
graft estnltk/taggers/standard/syntax/maltparser_tagger/java-res/maltparser/lib
include estnltk/taggers/standard/syntax/maltparser_tagger/java-res/maltparser/maltparser-1.9.0.jar
include estnltk/taggers/standard/syntax/maltparser_tagger/java-res/maltparser/morph_analysis_conllu.mco
graft estnltk/taggers/standard/syntax/ud_validation/agreement_resources
graft estnltk/taggers/standard/syntax/ud_validation/data
graft estnltk/taggers/standard/syntax/preprocessing/rules_files
graft estnltk/taggers/standard/syntax/phrase_extraction/loc_lemmas.csv
graft estnltk/taggers/standard/syntax/phrase_extraction/time_lemmas.csv
graft estnltk/taggers/standard/text_segmentation
graft estnltk/taggers/miscellaneous
graft estnltk/vabamorf/dct
graft estnltk/visualisation/attribute_visualiser
graft estnltk/visualisation/span_visualiser
graft estnltk/tests/converters
graft estnltk/tests/corpus_processing
graft estnltk/tests/taggers/standard/morph_analysis
graft estnltk/tests/taggers/standard/syntax/preprocessing
graft estnltk/tests/taggers/system/dict_taggers
graft estnltk/tests/taggers/miscellaneous
graft estnltk/tests/taggers/system
graft estnltk/tests/visualisation/expected_outputs
prune scribbles