eq_be_in_state
eq_causes
eq_generalization
eq_has_holonym
eq_has_hyperonym
eq_has_hyponym
eq_has_meronym
eq_has_subevent
eq_involved
eq_is_caused_by
eq_is_state_of
eq_is_subevent_of
eq_metonym
eq_near_synonym
eq_role
eq_synonym
