antonym
be_in_state
belongs_to_class
causes
fuzzynym
has_holo_location
has_holo_madeof
has_holo_member
has_holo_part
has_holo_portion
has_holonym
has_hyperonym
has_hyponym
has_instance
has_mero_location
has_mero_madeof
has_mero_member
has_mero_part
has_mero_portion
has_meronym
has_subevent
has_xpos_hyperonym
has_xpos_hyponym
involved
involved_agent
involved_instrument
involved_location
involved_patient
involved_target_direction
is_caused_by
is_subevent_of
near_antonym
near_synonym
role
role_agent
role_instrument
role_location
role_patient
role_target_direction
state_of
xpos_fuzzynym
xpos_near_antonym
xpos_near_synonym
